[user]
  name = Matheus Costa
  email = matheusoliveiracos@gmail.com
[alias]
  st = status
  ci = commit
  a = add
  ps = push
  pl = pull
  co = checkout
  this = !git init && git add . && git commit -m \"initial commit\"
[color]
  status = auto
  branch = auto
[github]
  user = mathocosta
