"*":
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
    ]
    projectHome: "E:\\Projetos"
    themes: [
      "one-dark-ui"
      "twilight-seriously"
    ]
  editor:
    fontFamily: "Code New Roman, Consolas"
    invisibles: {}
    lineHeight: 1.6
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "1a11fc28-505b-ae79-2419-88bebf92625a"
  "file-icons":
    coloured: false
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
  "open-in-browsers":
    IE: false
    Opera: false
    Safari: false
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    markerType: "dot"
  "tree-view": {}
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
