"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "seti-icons"
    ]
    projectHome: "E:\\Projetos"
  editor:
    fontFamily: "Code New Roman, Consolas"
    lineHeight: 1.7
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "1a11fc28-505b-ae79-2419-88bebf92625a"
  "file-icons":
    coloured: false
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
  "open-in-browsers":
    IE: false
    Opera: false
    Safari: false
  pigments:
    markerType: "dot"
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
