packages: [
  "atom-alignment"
  "atom-jade"
  "emmet"
  "front-icons"
  "minimap"
  "open-in-browsers"
  "open-terminal-here"
  "package-sync"
  "pigments"
  "react-snippets"
  "twilight-seriously"
]
