/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

@import "syntax-variables";
@import "ui-variables";

@background: #1d1f20;
// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  background-color: @background;
  text-rendering: optimizeLegibility;
}

.tab-bar {
  .tab,
  .tab.active {
    flex: 1;
  }
}

atom-text-editor::shadow{

  .css {
    // atribute and property name italic style
    .attribute-name,
    .property-name {
      font-style: italic;
    }
  }

  .js {
    .storage.type,
    .variable.parameter {
      font-style: italic;
    }
  }

  .ruby {
    .variable.parameter {
      font-style: italic;
    }
    .keyword.control {
      font-weight: bold;
    }
  }

  .gutter {
    background-color: @background;
    margin-right: 5px;
  }
  // make the cursor pulse
  .cursor {
    transition: opacity .5s;
    border-left: 2px solid;
  }

  // i dont wanna see this
  .wrap-guide { display: none !important; }

  .indent-guide {
    color: #c5c8c6;
    opacity: .2;
  }
  // .cursor-line .invisible-character {
  //   opacity: 1;
  // }
}
